<h1>Welcome to the Home Page</h1>
{{#if posts.length}}
  {{#each posts}}
    <div class="post">
      <h2 class="post-title">{{this.title}}</h2>
      <p>by {{this.User.username}} on {{this.createdAt}}</p>
      <div class="post-content">{{this.content}}</div>
    </div>
  {{/each}}
{{else}}
  <p>No posts yet.</p>
{{/if}}